<h1>Publicações</h1>
<div class="row">
	
	<div style="border: 1px solid red;" class="col-md-3">
		<div style="border: 1px solid red;">Recomendações</div>
		<div style="border: 1px solid red;">Filtros</div>
	</div>
	
	<div style="border: 1px solid red;" class="col-md-9">
		<table class="table">
			<tr>
				<th>Título</th>
				<th>Autor/es</th>
				<th>Tipo</th>
				<th>Status</th>
				<th>Ano</th>
				<th>Edição</th>
				<th>Local</th>
				<th>Ações</th>
			</tr>
			<tr ng-repeat="publi in publications">
			    <td>{{ publi.titulo }}</td>
			    <td>{{ publi.autor }}</td>
			    <td>{{ publi.tipo }}</td>
			    <td>{{ publi.status }}</td>
			    <td>{{ publi.ano }}</td>
			    <td>{{ publi.edicao }}</td>
			    <td>{{ publi.local }}</td>
			    <td><button type="button" class="btn btn-xs btn-default" aria-label="Editar" title="Editar" go-click="/publications/edit/{{publi.id}}">
  						<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
					</button>
				</td>
		  </tr>
		</table>
	</div>
</div>