<h1>Publicações</h1>
<div class="row">
	
	<div class="col-md-2">
		<div class="panel panel-default">
			<div class="panel-body">
				<h4>Busca</h4>
				<div class="form-group"> 
					<label for="filtro_geral">Geral</label> 
					<input type="text" class="form-control" id="filtro_geral" ng-model="query_all_list"> 
					<label for="filtro_titulo">Título</label> 
					<input type="text" class="form-control" id="filtro_titulo" ng-model="query_list.titulo"> 
					<label for="filtro_autores">Autores</label> 
					<input type="text" class="form-control" id="filtro_autores" ng-model="filtro_autor"> 
					<label for="filtro_ano">Ano</label> 
					<input type="text" class="form-control" id="filtro_ano" ng-model="query_list.ano"> 
				</div>
			</div>
			<div class="panel-body">
				<h4>Recomendadas</h4>
				<div style="max-height: 200px; overflow:auto" publication-recomendation></div>
			</div>
		</div>
	</div>
	<div class="col-md-10">
		
		<publication-message watch="{{msg_alerta}}"></publication-message>

		<div class="panel panel-default">
	  		<div class="panel-heading text-right">
				<div class="btn-group" uib-dropdown is-open="status.isopen">
			      	<button id="single-button" type="button" class="btn btn-info" uib-dropdown-toggle ng-disabled="disabled" style="color:white">
		        		Legenda <span class="caret"></span>
			      	</button>
					<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
						<li role="menuitem">
							<a href="#">
								<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> 
								Editar
							</a>
						</li>
						<li role="menuitem">
							<a href="#">
								<span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> 
								Exportar
							</a>
						</li>
						<li role="menuitem">
							<a href="#">
								<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 
								Apagar
							</a>
						</li>
					</ul>
			    </div>
	  			<button type="button" class="btn btn-primary" go-click="/publications/add">Adicionar</button>
  			</div>

			<table class="table table-hover table-condensed table-bordered">
				<tr>
					<th role="button" ng-click="sortBy('titulo')">
						Título 
						<publication-order-icon column-name="titulo"></publication-order-icon>
					</th>
					<th role="button" ng-click="sortBy('autor')">
						Autores 
						<publication-order-icon column-name="autor"></publication-order-icon>
					</th>
					<th role="button" ng-click="sortBy('tipo')">
						Tipo
						<publication-order-icon column-name="tipo"></publication-order-icon>
					</th>
					<th role="button" ng-click="sortBy('status')">
						Status
						<publication-order-icon column-name="status"></publication-order-icon>
					</th>
					<th role="button" ng-click="sortBy('ano')">
						Ano
						<publication-order-icon column-name="ano"></publication-order-icon>
					</th>
					<th role="button" ng-click="sortBy('edicao')">
						Edição
						<publication-order-icon column-name="edicao"></publication-order-icon>
					</th>
					<th role="button" ng-click="sortBy('local')">
						Local
						<publication-order-icon column-name="local"></publication-order-icon>
					</th>
					<th role="button">
						Ações
					</th>
				</tr>
				<tr ng-repeat="publi in publications | filter:query_list | filter:query_all_list | arrayFilter:filtro_autor:'autores' | orderBy:publication_sort_property:sort_reverse">
				    <td>{{ publi.titulo }}</td>
				    <td>{{ publi.nomes_autores }}</td>
				    <td>{{ publi.tipo }}</td>
				    <td>{{ publi.status }}</td>
				    <td>{{ publi.ano }}</td>
				    <td>{{ publi.edicao }}</td>
				    <td>{{ publi.local }}</td>
				    <td><button type="button" class="btn btn-xs btn-default" aria-label="Editar" title="Editar" go-click="/publications/edit/{{publi.id}}">
	  						<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
						</button>
						<button type="button" class="btn btn-xs btn-default" aria-label="Exportar" title="Exportar" ng-click="export(publi)">
	  						<span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
						</button>
						<button type="button" class="btn btn-xs btn-default" aria-label="Apagar" title="Apagar" ng-click="delete(publi);">
	  						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</button>
					</td>
			  	</tr>
			</table>
		</div>
	</div>
</div>