<div style="padding:10px; background-color:#f5f5f5; border-radius: 4px; margin-bottom:2px; font-size: 12px">
	<h5>Título</h5>
	<p>Autores</p>
</div>
<div style="padding:10px; background-color:#f5f5f5; border-radius: 4px; margin-bottom:2px; font-size: 12px">
	<h5>Título</h5>
	<p>Autores</p>
</div>
<div style="padding:10px; background-color:#f5f5f5; border-radius: 4px; margin-bottom:2px; font-size: 12px">
	<h5>Título</h5>
	<p>Autores</p>
</div>
<div style="padding:10px; background-color:#f5f5f5; border-radius: 4px; margin-bottom:2px; font-size: 12px">
	<h5>Título</h5>
	<p>Autores</p>
</div>
<div style="padding:10px; background-color:#f5f5f5; border-radius: 4px; margin-bottom:2px; font-size: 12px">
	<h5>Título</h5>
	<p>Autores</p>
</div>