<h1>Autores</h1>
<div class="row">

	<div class="col-md-3">
		<div>
			<h4>Filtros</h4>
			<div class="form-group"> 
				<label for="filtro_geral">Geral</label> 
				<input type="text" class="form-control" id="filtro_geral" ng-model="$scope.query_list"> 
			</div>
		</div>
	</div>
	<div class="col-md-9">

		<publication-message watch="{{msg_alerta}}"></publication-message>

		<div class="panel panel-default">
			<div class="panel-heading text-right">
				<div class="btn-group" uib-dropdown is-open="status.isopen">
			      	<button id="single-button" type="button" class="btn btn-info" uib-dropdown-toggle ng-disabled="disabled" style="color:white">
		        		Legenda <span class="caret"></span>
			      	</button>
					<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
						<li role="menuitem">
							<a href="#">
								<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> 
								Editar
							</a>
						</li>
						<li role="menuitem">
							<a href="#">
								<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 
								Apagar
							</a>
						</li>
					</ul>
			    </div>
		  			<button type="button" class="btn btn-primary" go-click="/authors/add">Adicionar</button>
	  			</div>

				<table class="table">
					<tr>
						<th>
							Nome 
						</th>
						<th>
							Sobrenome 
						</th>
						<th>
							Nome em Publicação
						</th>
						<th>
							E-mail
						</th>
					</tr>
					<tr ng-repeat="aut in authors | filter:$scope.query_list">
					    <td>{{ aut.nome }}</td>
					    <td>{{ aut.sobrenome }}</td>
					    <td>{{ aut.nome_publicacao }}</td>
					    <td>{{ aut.email }}</td>
					    <td><button type="button" class="btn btn-xs btn-default" aria-label="Editar" title="Editar" go-click="/authors/edit/{{aut.id}}">
		  						<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
							</button>
							<button type="button" class="btn btn-xs btn-default" aria-label="Apagar" title="Apagar" ng-click="delete(aut);">
		  						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
							</button>
						</td>
				  	</tr>
				</table>
			</div>
		</div>	
	</div>
</div>